// out: ./style.css, sourcemap: false, compress: true
@import "mixins.less";


@orange: #FF9F55;
@bg: #F6F7F2;
@green: #49b749;











html, body {
  height: 100%;
  min-height: 100%;
}

body{
  background-color: @bg;
  font-family: 'Poppins', sans-serif;
}

#main-menu{
  border: 0px;
  margin: 0px;
  background-color: @orange;

  #navbar{
    ul{
      li{
        a{
          color: #fff;
          font-size: 18px;
          text-transform: uppercase;
          .transition(0.1s);
          &:hover{
            background-color: @orange - 20;
            .transition(0.1s);
          }
        }
      }
    }
  }
  a.navbar-brand{
    padding: 5px;
    img{
      width: 70px;
    }
  }
  button.navbar-toggle{
    background-color: @bg;
    border-color: @orange;
    span{
      background-color: @orange
    }
  }
}

@media screen and(min-width: 768px){
  #main-menu{
    &.navbar{
      min-height: 80px;
    }
    #navbar{
      ul{
        li{
          a{
            padding-top: 30px;
            padding-bottom: 30px;
          }
        }
      }
    }
  }
}

@media screen and(max-width: 767px){
  #main-menu{
    #navbar{
      border: 0px;
      ul.navbar-nav{
        //margin: 15.5px -15px;
      }
    }
    a.navbar-brand{
      padding: 2px;
      img{
        width: 45px;
      }
    }
  }
}



.wrapper {
  height: 100%;
  min-height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  .cotacao-box{
    .title{
      text-align: center;
      text-transform: uppercase;
      i{
        color: @green;
      }
    }
    .box{
      margin-top: 15px;
      background-color: @orange;
      border-radius: 3px;
      padding: 20px;
      color: #fff;
      h2{
        margin: 0px;
        text-align: center;
        text-transform: uppercase;
        font-size: 55px;
      }
    }
    .share-box{
      margin-top: 25px;
      text-align: center;
      a{
        font-size: 32px;
        color: #333;
        margin: 0px 15px;
        .transition(0.2s);
        text-decoration: none;
        &:hover{
          text-decoration: none;
        }
        i{
          .transition(0.2s);
          &:hover{
            .transition(0.2s);
            &.fa-facebook{
              color: #3b579d
            }
            &.fa-twitter{
              color: #36b9ff;
            }
            &.fa-paper-plane{
              color: #279fd3;
            }
            &.fa-whatsapp{
              color: #29a71a;
            }
          }
        }
      }
    }
  }
}

@media screen and(max-width: 550px){
  .wrapper{
    .cotacao-box{
      .title{
        font-size: 26px;
      }
      .box{
        padding: 20px 10px;
        h2{
          font-size: 28px;
        }
      }
    }
  }
}
